<ion-view view-title="Surah {{surahId}}">
	<ion-content class="surah-view">
		<ion-list dir="rtl" ng-repeat="ayah in surah">
			<ion-item class="item-text-wrap">
				<div class="row">
					<div class="col">{{ayah.number}}</div>
					<div class="col" ng-repeat="word in ayah.words">{{word.ar}}</div>
				</div>
				<div class="row">
					<div class="col">{{ayah.number}}</div>
					<div class="col" ng-repeat="word in ayah.words">{{word.en}}</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>